/* Basic settings */
body#website {text-align: center; margin: 0; padding: 0; font-family: Helvetica,Arial,sans-serif; font-size: 15px;}
#container {width: 1000px; text-align: left; margin: 0 auto 0 auto;}
a:hover, a:link, a:visited, a:active {text-decoration: underline; color: #6B6B2E;}

/* Header */
#header {height: 60px; background-color: #096E20; color: #FFFFFF;}
#header #title {padding: 10px 0 10px 30px; font-size: 26px; font-family: "Trebuchet MS",sans-serif; font-style: italic; margin: 0px;}
#header #title a:visited {text-decoration: none; color: #FFFFFF;}
#header #title a:hover {text-decoration: none; color: #FFFFFF;}

/* Entries */
#main {width: 750px; margin-right: 200px; min-height: 500px;}
#main .entry h3 {margin-bottom: 5px;}
#main .entry h2 {margin-bottom: 10px;}
#main .entry .time {margin-bottom: 5px; font-size: 14px;}
#main .entry .tags {position: relative; float:right; font-size: 14px; width: 48%;}
#main .entry .tags a {margin: 0 2px 0 2px;}
#main .entry .categories {font-size: 14px; width: 48%;}
#main .entry .categories a {margin: 0 2px 0 2px;}
#main .entry .content {text-align: justify;}
#main .comments {border-top: 1px solid #E6E6B3;}
#main #navigation {text-align: center; margin: 20px 5px 10px 5px}
#main #navigation a#next_page, a#previous_page {font-weight: bold;}
#main .entry {padding: 0 0 20px 0; border-bottom: 1px solid #E6E6B3;}
#main ul.entry-index {float: left; width: 770px; padding: 0 5px 0 5px; margin: 0;}
#main ul.entry-index li {float: left; width: 385px; margin: 0; padding: 0;}
#main ul.entry-index-date {padding: 0 5px 0 5px; margin: 0;}
#main ul.entry-index-date li {margin: 0; padding: 0;}
#main .entry-index-year {font-size: 17px; font-family: Verdana;}

/* Comments */
#main .comments form {margin-left: 50px;}
#main .comments p label {vertical-align: top; display: block; float: left; padding: 3px 10px 0 0; width: 10em;}
#main .comments p textarea {width: 35em;}
#main .comments p.submit {text-align: center;}
#main .comments h3 {text-align: center; padding-bottom: 15px; margin-bottom: 0; border-bottom: 1px solid #E6E6B3;}
#main .comments .comment {padding: 17px 20px 2px 20px; border-bottom: 1px solid #E6E6B3;}
#main .comments .comment .user {float: left; width: auto;}
#main .comments .comment .date {float: right;  width: auto;}
#main .comments .comment .url {float: left; width: auto;}
#main .comments .comment .content {margin-top: 30px; text-align: justify;}

/* Comment preview */
#main .comment ul.errorlist {font-weight: bold; font-style: italic; font-family: Verdana; font-size: 14px; color: #EF4333;}
#main .comment p label {vertical-align: top; display: block; float: left; padding: 3px 10px 0 0; width: 10em;}
#main .comment p textarea {width: 35em;}
#main .comment p.submit {text-align: center;}
#main .comment h3 {text-align: center; padding-bottom: 15px; margin-bottom: 0; border-bottom: 1px solid #E6E6B3;}

/* Footer */
#footer {text-align: center;}

/* Menu */
#menu {position: absolute; width: 200px; top: 50px; margin-left:790px; z-index: 100; font-size: 15px; padding: 10px; color: #5A5A5F;}
#menu .section h4 {margin: 1.5em 0 0.5em 0; border-bottom: 1px solid #AAA; font-family: "Trebuchet MS",sans-serif; font-size: 19px;}
#menu .section ul {list-style: none; margin: 0 0 0 0; padding: 0 0 0 0.5em;}
#menu .section li {margin: 1px 1px 0;}
#menu .section li.clean {height: 10px;}
#menu .section a {text-decoration: none; font-style: italic; font-size: 16px;}
#menu .section a:hover {text-decoration: underline;}
#menu .section a:link {color: #666666;}
#menu .section a:visited {color: #666666;}
#menu #certificates.section {margin-top: 30px; text-align: center;}
#menu #certificates.section img {border: 0; margin-bottom: 10px;}

/* Contact */
#main .contact form {margin-left: 10px;}
#main .contact form p label {vertical-align: top; display: block; float: left; padding: 3px 10px 0 0; width: 12em;}
#main .contact form p textarea {width: 35em;}
#main .contact form p.submit {text-align: center;}
#main .contact form ul.errorlist {font-weight: bold; font-style: italic; font-family: Verdana; font-size: 14px; color: #EF4333;}
#main .contact.confirmation_msg {font-size: 17px;}
#main .contact.error_msg {color: #EF4333; font-size: 17px;}