{% load i18n %}
{% load comments %}
{% load entries_tags %}

{% for object in object_list %}
    <div class="entry">
        <h3>{{ object.title }}</h3>

        <div class="time">
            {% trans "Entry published" %} {{ object.creation_time|date:'F d, Y h:i a' }} {% trans "by" %} {% user_name_generator object.author.get_full_name object.author.username %}
        </div>

        <div class="tags">
            {% trans "Tags" %}:
            {% for tag in object.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
            {% endfor %}
        </div>

        <div class="categories">
            {% trans "Categories" %}:
            {% for category in object.categories.all %}
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            {% endfor %}
        </div>
        
        <div class="content">{{ object.content|parse_text|truncatewords_html:'100' }}</div>

        {% get_comment_count for object as comment_count %}
        <a class="read-more" href="{{ object.get_absolute_url }}">{% trans "Read more" %}</a> |
        <a class="read-more" href="{{ object.get_absolute_url }}#comments">{% blocktrans %}{{ comment_count }} responses{% endblocktrans %}</a>
    </div>
{% endfor %}